@*@{
    ViewBag.Title = "Home Page";
}*@
@section featured {
  @*  <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>*@
}
<div class="favoritem">
    <h3>
        Favorite Items：</h3>
    @foreach (var item in ViewBag.m_dtHotKnoledges)
    {
        <div>
            <h5>@item["m_strTitle"]</h5>
            @item["m_strDesc"]
            @Html.ActionLink("Learn more…", "Details", "Knoledge", new { Id = @item["Id"] }, null)
        </div>
    }
</div>
<div class="newitem">
    <h3>
        Newest Items：</h3>
    @foreach (var item in ViewBag.m_dtNewHotKnoledges)
    {
        <div>
            <h5>@item["m_strTitle"]</h5>
            @item["m_strDesc"]
            @Html.ActionLink("Learn more…", "Details", "Knoledge", new { Id = @item["Id"] }, null)
        </div>
    }
</div>
