@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="../../Scripts/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../../Scripts/demo/demo.css">
<script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.easyui.min.js"></script>
<p>
    @Html.ActionLink("Create New", "CreateItem")
</p>
<table class="easyui-datagrid" style="width: 1000px; height: 350px">
    <thead>
        <tr>
            
            <th data-options="field:'标题',width:120">
                标题
            </th>
            <th data-options="field:'描述',width:420,align:'left'">
                描述
            </th>
            <th data-options="field:'作者',width:120">
                作者
            </th>
            <th data-options="field:'上传时间',width:150">
                上传时间
            </th>
            <th data-options="field:'热度',width:120,align:'center'">
                热度
            </th>
        </tr>
    </thead>
    @foreach (var item in ViewBag.KnoledgeSet)
    {
        <tr>
          
            <td>
                @Html.ActionLink(@item["m_strTitle"] as string, "Details", new { Id = @item["Id"] })
            </td>
            <td>
                @item["m_strDesc"]
            </td>
              <td>
                @item["m_strUserId"]
            </td>
            <td>
                @item["m_dateUploadTime"]
            </td>
            <td>
                @item["m_strHot"]
            </td>
        </tr>
    }
</table>
